<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a hsp-action="Index" asp-controller="Home" class="brand-link">
        <span class="brand-text font-weight-light">SpokeToTheManager</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">


        <!-- Sidebar Menu -->
                @* <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Login", "Home")">Login</a>
                </li> *@
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Ingresos" asp-action="Index">Ingresos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="TipoIngreso" asp-action="Index">Tipo de ingresos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Egreso" asp-action="Index">Egresos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="TipoEgreso" asp-action="Index">Tipo de egresos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Recurso" asp-action="Index">Recursos</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="TipoRecurso" asp-action="Index">Tipo Recursos</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Socios" asp-action="Index">Socios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Rubro" asp-action="Index">Rubros</a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
