@model SpokeToTheManager.Models.TipoEgreso

@{
    ViewData["Title"] = "Detalles";
}
<div class="text-center">
    <h1>Detalles</h1>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-5">
        <div class="card">
            <div class="text-center">
                <h4>Tipo de Egreso</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Descripcion:</th>
                        <td>@Html.DisplayFor(model => model.descripcion)</td>
                    </tr>
                </table>
            </div>

            <div class="card-footer">
                <div class="btn btn-primary btn-back">
                    <a class="btn-edit" asp-action="Edit" asp-route-id="@Model.Id"><font color="white">Editar</font>
                    </a></a>
                </div>
                <div class="btn btn-primary btn-back">
                    <a class="btn-back" asp-action="Index">
                        <font color="white">Volver a la lista</font>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>