@model SpokeToTheManager.Models.TipoRecurso

@{
    ViewData["Title"] = "Details";
}
<h1 class="text-center">Detalles de usuario</h1>

<div class="card" style="
     margin-left: 15rem;
     margin-right:10%;
     margin-top: 25px;">
    <dl class="row" style="margin-left:5rem ;">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    <div class="container" style="padding-bottom:1rem">
        <div class="row justify-content-md-center">
            <div class=" btn btn-primary">
                <a asp-action="Index">
                    <FONT COLOR="white">Volver a Tipo de Recursos</FONT>
                </a>
            </div>
        </div>
    </div>
</div>