@model SpokeToTheManager.Models.Socio

@{
    ViewData["Title"] = "Borrar";
}
<div class=" text-center">
    <h1>Eliminar socio</h1>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header text-center">
                <h4>Socios</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Nombre:</th>
                        <td>@Html.DisplayFor(model => model.Nombre)</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <th>Teléfono:</th>
                        <td>@Html.DisplayFor(model => model.Telefono)</td>
                    </tr>
                    <tr>
                        <th>Rubro:</th>
                        <td>@Html.DisplayFor(model => model.Rubro.Nombre)</td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <div class="btn btn-primary btn-back">
                        <a class="btn-back" asp-action="Index">
                            <font color="white">Volver a la lista</font>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>