<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpokeToTheManager</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
</head>
<body class="login-page" style="min-height: 495.6px;">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>SpokeToTheManager</b></a>
        </div>
      
       
        
                <div class="card">
                    <div class="card-body login-card-body">
                        <p class="login-box-msg">Iniciar sesión</p>
                        <form asp-action="Login" asp-controller="Home" method="post">
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" name="email" placeholder="Email">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                        <input type="password" class="form-control" name="Contrasenia " placeholder="Password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="icheck-primary">
                                        <input type="checkbox" id="remember">
                                        <label for="remember">
                                            Recuérdame
                                        </label>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row justify-content-md-center">
                                        <div class="d-grid gap-2">
                                            <a href="@Url.Action("index")"></a>
                                            <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>





            </div>

 


    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>

    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/adminlte/dist/js/adminlte.min.js?v=3.2.0"></script>


</body>
