@model SpokeToTheManager.Models.TipoIngreso

@{
    ViewData["Title"] = "Borrar";
}

<div class=" text-center">
    <h1>Eliminar Tipo Ingreso</h1>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-5">
        <div class="card">
            <div class="text-center">
                <h4>Tipo de Ingreso</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Descripcion:</th>
                        <td>@Html.DisplayFor(model => model.descripcion)</td>
                    </tr>
                </table>
            </div>

            <div class="card-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <div class="btn btn-primary btn-back">
                        <a class="btn-back" asp-action="Index">
                            <font color="white">Volver a la lista</font>
                        </a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>