@model SpokeToTheManager.Models.Rubro

@{
    ViewData["Title"] = "Details";
}


<div class="text-center">
    <h1>Detalles</h1>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-5">
        <div class="card">
            <div class="text-center">
                <h4>Rubro</h4>
            </div>
            <hr />
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Nombre:</th>
                        <td>@Html.DisplayFor(model => model.Nombre)</td>
                    </tr>
                </table>
            </div>

            <div class="card-footer">
                <div class="btn btn-primary btn-back">
                    <a class="btn-edit" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
                    <a class="btn-back" asp-action="Index">
                        <font color="white">Volver a la lista</font>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>